@import "../../styles/variable";
.tickets {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  .ticket {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
