@import "../../styles/variable";
.container {
  width: 100%;
  // height: $ticket-height;
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  padding: 20px;
  justify-content: center;
  .action {
    margin: 10px auto;
  }
  .footer {
    height: 30px;
    background-color: $ticket-footer-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
