@import "../../styles/variable";

.viewTicket {
  position: fixed;
  top: 0;
  right: -1000px;
  width: $view-ticket-width;
  background-color: white;
  padding: 20px;
  padding-top: 50px;
  height: 100vh;
  overflow: scroll;
  border: 1px solid #dddddd;
  transition: 0.3s;
}
.show {
  right: 0px;
}
.closeTicket {
  position: absolute;
  left: 5px;
  top: 5px;
}
