//Global
$main-color: black;
$second-color: grey;

//Header
$header-height: 50px;

//Side menu

$side-menu-width: 300px;

//Ticket
$ticket-height: 200px;
$ticket-footer-background: #f0f4f9;

//View Ticket
$view-ticket-width: 300px;
